<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Student | Report</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <div th:replace="template :: head"></div>
</head>
<body>
<div>
    <div class="wrapper">
        <div th:replace="template :: student-nav"></div>
        <div class="body">
            <h3 class="text-center">Report</h3>
        </div>
    </div>
</div>
<div th:replace="template :: footer"></div>
</body>
</html>