<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="favicon.ico"/>

    <title>Setting company password</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/company.css}"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"/>

</head>

<body>
<div class="container">
    <div style="max-width: 60%;
						padding: 30px 38px 30px; 
						margin: 0 auto;
						background-color: #F5FFFA;
						border: 3px dotted rgba(0,0,0,0.1);">


        <ul class="list-group pull-right">
            <li class="list-group-item list-group-item-info">

                <a href="/register" th:href="@{/register}">Go back</a>
            </li>
        </ul>

        <div class="body">
            <p class="text-center lead text-uppercase">
                Finish your Registration by setting your password <br/>
                Please provide email for the head offivce of your company by selecting below
            </p>


            <div th:if="${errorMessage}" class="alert alert-danger"
                 role="alert" th:text="${errorMessage}"></div>


            <form class="m-t" id="passwordForm" role="form" action="/company/confirm"
                  th:action="@{/company/password}" method="post">


                <div class="form-group">
                    <label for="email">Select email for head office(use)</label>
                    <select class="form-control" name="selectedEmail">
                        <option th:each="email : ${email}"
                                th:value="${email}" th:text="${email}">
                        </option>
                    </select>
                </div>

                <div class="form-group input-group has-feedback">
                    <input name="password" type="password" id="password"
                           placeholder="Password" class="form-control" required/>

                </div>
                <div class="password" role="alert">
                </div>

                <div class="form-group input-group has-feedback">


                    <input type="password" class="form-control" placeholder="Confirm Password" name="ConfirmPassword"
                           id="ConfirmPassword"/>
                    <div class="confirmPassword" role="alert"></div>
                </div>


                <div class="text-center">
                    <button type="submit" class="btn btn-default btn-primary btn-md  ">Login</button>
                </div>

            </form>

        </div>
    </div>
</div>
<div th:replace="template :: footer"></div>

<script>
    $(document).ready(function () {
        function checkPassword(str) {
            var re = /^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}$/;
            return re.test(str);
        }

        // Disable Submit Button By Default
        $("button[type=submit]").attr('disabled', 'disabled');

        //Validate password to ensure matching and enforce constraint
        $('#password, #ConfirmPassword').on('keyup', function () {
            var password = $('#password').val();
            var ConfirmPassword = $('#ConfirmPassword').val();
            if (password != '') {
                if (!checkPassword(password)) {
                    $('.password').addClass('alert alert-danger').html('Password must contain atleast 6 characters including lower and upper case characters,numbers etc')
                } else if (password != ConfirmPassword) {
                    $('.password').removeClass('alert alert-danger').html('');

                    $('.confirmPassword').addClass('alert alert-warning').html('Password not  matching');
                }
                else {
                    // To Enable Submit Button after password fields are filled correctly
                    $('button[type=submit]').removeAttr('disabled');
                    $('.confirmPassword').removeClass('alert alert-warning').html('');
                }
            }
        });

        //Disable submit button after first submission to prevent resubmission
        $('form').submit(function (e) {
            e.preventDefault
            $(this).find("button[type='submit']").prop('disabled', true);
        });


    });
</script>


</body>

</html>
