
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
     <meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>BUGS login</title>
	<link rel="stylesheet" type="text/css" th:href="@{/css/company.css}" />
	 <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
	
</head>

<body>	
	
	<div class="container">  
         <div style ="max-width: 60%;
						padding: 30px 38px 30px; 
						margin: 0 auto;
						background-color: #F5FFFA;
						border: 3px dotted rgba(0,0,0,0.1);">  
						
               <ul class="list-group float-right">
                <li class="list-group-item list-group-item-info">
                    <a href="/login" th:href="@{/login}">Login here</a> ||
                    <a href="/company/register" th:href="@{/register}">Register</a>                     
                </li>
            </ul>
            
            <div class="body">                            
            <p class ="text-center lead text-uppercase">
                 Welcome to BUGS
            </p>
                 
           
            <p class="text-center">Enter your username  below to reset password</p>
            
           
            <form action="/password/reset" th:action="@{/password/reset}" method="POST"  class="login">
                <div align="center" th:if="${noUser}">
                       <p style="font-size: 20; color: #FF1C19;">No such user exists</p>
                    </div>
                    <div th:if="${invalidToken}">Invalid token plz try again</div>
                    <div th:if="${expired}"> Expired token .Please request again</div>

                    <div class="form-group">
                      <label for="email">Username</label>
                      <input type="text" class="form-control" name ="username" placeholder="Username">
                    </div>
                    
                    <div class="text-center">                 
                        <button type="submit" class="btn btn-default btn-primary btn-xl  ">Request Reset password</button>
                    </div>
            </form> 
        </div>
    </div>
    </div>
     
     <div th:replace="template :: footer"></div>
</body>
</html>
