.body{
    margin: 0 auto;
}

.content{
    position: relative;
    border:  0.1px solid black;
    margin: 10em auto;
    background-color: #F5FFFA;
}
.body{
    margin: 4em;
}

.list-group{
    padding: 1em 1em 0 0;
}